@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
    40% {
    transform: translateY(-10px);
    }
    60% {
    transform: translateY(-5px);
    }
}

:root {
    --cor-primaria: rgb(60, 99, 168);
    --branco: whitesmoke;
}

::selection {
    background: var(--cor-primaria);
    color: white;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
    radial-gradient(circle at 20% 80%, rgba(34, 141, 183, 0.13), transparent);
    background-repeat: no-repeat;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

main {
    position: relative;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

.main p {
    color: var(--branco);
    font-size: 1.5em;
    z-index: 1;
    font-weight: bold;
}


.main h1 {
    color: #000000;
    font-size: 4.5em;
    -webkit-text-stroke: 2px var(--branco);
    letter-spacing: 4px;
    text-align: center;
    z-index: 1;
    line-height: 0px;
}

.socialmedias {
    display: flex;
    gap: 20px;
    color: var(--branco);
}

.socialmedias .circle {
    width: 45px;
    border-radius: 50%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

#circle1 {
    animation: bounce 2s infinite 0s;
}

#circle2 {
    animation: bounce 2s infinite 1s;
    border-radius: 10px;
}

.socialmedias .circle:hover {
    cursor:  pointer;
    box-shadow: 0 0 15px 10px var(--cor-primaria);
    border: 2px solid var(--branco)
}

.button-cv {
    height: 50px;
    width: 200px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center; 
    color: var(--branco);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: 0.4s;
    z-index: 1;
}

.button-cv:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 10px var(--cor-primaria);
  }
  

/*Projetos Section*/

.projects {
    min-height: 200vh;   
}

.projects-title {
    margin-top: 60px;
    text-align: center;
}

.projects-title h2 {
    font-size: 2em;
    letter-spacing: 1px;
    color: var(--branco);
}

.projects-title p { 
    color: var(--branco);
    margin-top: 10px;
    font-size: 0.8em;
}

.projects-container {
    margin-top: 100px;
    display: grid;
    padding: 0px 60px 0px 60px;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.project-container {
    border: 3px solid #fff;
    text-decoration: none;
}

.project-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
}

.project-image {
    width: 640px;
}

.project-image img {
    width: 100%;
}

.project-text {
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.project-text h3 {
    color: var(--branco);
    font-size: 1.5em;
}

.project-text p {
    max-width: 550px;
}

.project-techs {
    margin-top: 30px;
}

.project-techs img {
 width: 32px;
 transition: 0.3s;
}

.project-techs img:hover {
    transform: translateY(-5px);
}